- content_for(:description){ 'Codebrawl, a code contest website focussed on the Ruby programming language and open source software.' }

- if @contests.map(&:state).exclude? 'open'
  %section.tip
    %h1 Get ready for the next season of Codebrawl!
    %p
      :erb
        After a very successful first season, Codebrawl is having a winterstop and will return in the beginning of 2012. If you want to be sure you don't miss it, just subscribe to our <%= link_to 'contests feed', 'http://feeds.feedburner.com/codebrawl' %> or <%= link_to 'follow us on twitter', 'http://twitter.com/codebrawl' %>. See you next year!

#contests
  = render @contests

= link_to 'Contest archive', contests_path
