body
  background-color: #222
  font-size: 14px
  color: #222

body, input
  font-family: Arial

h2,h3
  font-weight: 900

h2
  font-size: 24px

h3
  font-size: 20px

a
  font-weight: 900
  color: #880000
  text-decoration: none

a.button, input[type='submit']
  display: block
  text-align: center
  background-color: #222
  margin-top: 20px
  padding: 20px
  font-weight: 500
  font-size: 18px
  font-weight: 900
  color: #ccc
  -webkit-border-radius: 2px
  -webkit-box-shadow: 0 -1px 0 #fff, 0 1px 0 #000

  &:hover
    color: #eee

input[type='submit']
  border: none
  display: block
  width: 100%

  &:hover
    cursor: pointer

img#gravatar
  width: 20px
  height: 20px
  border: 1px solid #ddd

p
  margin: 10px 0

form
  margin: 10px 0 0 0

  textarea, input[type='text']
    width: 100%
    border: 1px solid #ddd
    font-size: 14px
    margin: 10px 0

  textarea
    height: 200px

  input[type='text']
    font-size: 24px

#notice, #alert
  -webkit-border-radius: 2px
  padding: 10px
  margin: 10px 0 20px 0

#notice
  background-color: #ccffcc
  border: 1px solid #bbffbb

#alert
  background-color: #ffcccc
  border: 1px solid #ffbbbb

#header
  text-align: center
  margin: 25px auto
  width: 375px

  h1
    margin: 0

    a
      background-image: url('logo_transparant.png')
      text-indent: -9999px
      height: 100px
      display: block

  code
    color: #888

#wrapper
  margin: auto
  max-width: 700px

#container
  background-color: #eee
  padding: 20px
  margin: 0 10px 10px 10px

  -webkit-border-radius: 2px
  -webkit-box-shadow: 0 0px 5px #000

  #menu span
    float: right
    margin-bottom: 20px

    img
      vertical-align: middle

  #main
    clear: both

    .entry
      margin-bottom: 20px

#contests li, #entries li, #entry
  background-color: #ddd
  padding: 20px 10px
  -webkit-border-radius: 2px

  .description
    width: 60%
    float: left

  .state
    text-align: right
    width: 30%
    float: right

#entry
  margin-top: 20px

ul
  padding: 0
  list-style: none
  margin-bottom: -20px

  li
    margin-bottom: 20px

form ul
  margin-bottom: 0

.highlight, .markup
  -webkit-border-radius: 2px

hr
  visibility: hidden
  clear: both