body
  background-color: #222

#header
  text-align: center
  margin: 25px auto
  width: 375px

  h1
    margin: 0

    a
      background-image: url('logo_transparant.png')
      text-indent: -9999px
      height: 100px
      display: block

  code
    color: #888

#container
  background-color: #eee
  margin: auto
  padding: 20px
  width: 680px