- content_for(:description){ 'Codebrawl, a code contest website focussed on the Ruby programming language and open source software.' }

%ul.contests
  = render @contests
  %li
    %h2= link_to 'Create your own contest', new_contest_path
