%h2= @contest.name

%p= raw Kramdown::Document.new(@contest.description).to_html

- unless @contest.open?

  %h3 Entries

  = render @contest.entries.shuffle

= link_to 'Enter', [:new, @contest, :entry] if @contest.open?
