%h2= @user.name

= image_tag @user.gravatar_url(:size => 220, :default => avatar_url)

- if @contests.any?
  %h3 Contests
  %ul
    - @contests.each do |contest|
      %li= link_to contest.name, contest