// Compass imports
@import compass
@import compass/reset
@import blueprint/typography

// Mixins
@mixin hide
  left: -9999px
  position: absolute

@mixin data-uri-bg($image, $properties: false)
  @if $properties != false
    background: inline-image($image) $properties
    *background: url($image) $properties
  @else
    background: inline-image($image)
    *background: url($image)G

// Styling
body
  +blueprint-typography-body(14px)
  background-color: #222
  color: #222

body,
input
  font-family: "Helvetica Neue", Helvetica, Arial, freesans, clean, sans-serif

h2,
h3
  font-weight: 900

h2
  font-size: 24px

h3
  font-size: 20px

a
  font-weight: 900
  color: #b1342a
  text-decoration: none

  &:hover
    color: #ec1d25
    cursor: pointer

a.button,
input[type="submit"]
  display: block
  text-align: center
  background-color: #222
  margin-top: 20px
  padding: 20px
  font-weight: 500
  font-size: 18px
  font-weight: 900
  color: #ccc
  @include border-radius(2px)
  @include box-shadow(0 -1px 0 #fff, 0 1px 0 #000)

  &:hover
    color: #eee

  span
    display: block
    font-weight: 500
    font-size: 12px

input[type="submit"]
  border: none
  display: block
  width: 100%

  &:hover
    cursor: pointer

img.gravatar
  width: 20px
  height: 20px
  border: 1px solid #ddd
  vertical-align: middle

#profile
  margin-top: 10px

  img
    width: 220px
    margin: 0 20px 20px 0
    float: left

  h3
    margin: 10px 0
    clear: both

p
  margin: 10px 0

form
  margin: 10px 0 0 0

  textarea,
  input[type="text"]
    width: 96.55174%
    padding: 1.72413%
    border: 1px solid #ddd
    font-size: 14px
    margin: 10px 0

  textarea
    height: 200px

  input[type="text"]
    font-size: 24px

#notice, #alert
  @include border-radius(2px)
  padding: 10px
  margin: 10px 0 20px 0

#notice
  background-color: #ccffcc
  border: 1px solid #bbffbb

#alert
  background-color: #ffcccc
  border: 1px solid #ffbbbb

#header
  text-align: center
  margin: 25px auto

  h1 a
    height: 94px
    display: block
    @include hide-text
    @include data-uri-bg("logo.png", center no-repeat)

    h1 a
      height: 75px
      background-size: 75%

  p
    margin: 0
    font-family: "Courier New", Courier, monospace
    font-size: 13px
    color: #444
    -webkit-text-size-adjust: none

    span
      font-size: 14px
      color: #888
      font-weight: 900
      text-shadow: 0 1px 1px #000

#wrapper
  margin: auto
  max-width: 900px
  min-width: 660px
  padding: 10px
  position: relative

  #adzerk_ad_div
    color: #666
    font-size: 70%
    line-height: 120%
    position: absolute
    top: 174px
    right: 0
    width: 120px

    @media screen and (max-width: 940px)
      display: none

    img
      @include border-radius(2px)


#container
  background: #eee
  padding: 0px 20px 20px 20px
  margin: 0 auto
  @include border-radius(2px)
  @include box-shadow(0 0px 5px #000)
  width: 620px

  nav
    margin-bottom: 20px
    background: #222
    margin: 0px -20px 20px -20px
    padding: 10px 20px
    overflow: hidden

    li
      height: 20px
      float: left
      margin-right: 15px
      text-shadow: 0 1px 5px #000
      color: #eee

      &.user
        float: right
        margin: 0

    a
      color: #eee

  #main
    clear: both

    #entries li.entry
      margin: 20px 0
      background-repeat: no-repeat
      background-position: top right

      form

        textarea
          height: 100px

        fieldset
          padding: 0 20px
          display: inline-block
          background: inline-image("happyface.png") right no-repeat, inline-image("sadface.png") left no-repeat
          *background: asset_url("happyface.png", image) right no-repeat, asset_url("sadface.png", image) left no-repeat

        input[type="submit"]
          margin: 0

      span.entries_left
        float: right

    #entries li.voted

      a.extend
        &:hover
          cursor: pointer

    #entries.voting_box
      position: absolute
      left: 50%
      top: 60px
      width: 820px
      margin: 0 0 0 -410px
      z-index: 10

      li
        padding: 10px 20px 20px 20px

    a.vote
      margin: 20px 0

    .gold
      background-image: asset_url('gold.png', image)

    .silver
      background-image: asset_url('silver.png', image)

    .bronze
      background-image: asset_url('bronze.png', image)

#container.home
  background-image: asset_url('steven.jpg', image)
  background-repeat: no-repeat

  nav
    height: 200px
    background-color: transparent

  .tip a
    font-size: 100%


#contests, #entries, #articles
  margin-bottom: -20px

#contests li,
.message,
.tip,
#articles li
  padding: 10px

.contestants
  margin-top: 10px

#entries li.entry,
.contestants li
  padding: 10px

#contests li,
#entries li.entry,
.message,
.tip,
#articles li
  background-color: #ddd
  @include border-radius(2px)
  @include box-shadow(0 -1px 0 #ccc, 0 1px 0 #fff)

.tip
  margin-bottom: 20px
  background-color: #dde6ee

  a
    font-size: 12px

#contests li,
#entries li.entry,
#articles li
  margin-bottom: 20px

  .description
    float: left
    width: 370px

  .comments
    margin: 10px 0 0 0
    font-size: 12px

    div
      background-color: #eee
      padding: 10px
      margin-bottom: 10px
      @include border-radius(2px)

  .state
    text-align: right
    width: 210px
    float: right
    font-size: 24px
    font-weight: 900

    span
      display: block

    .time_left,
    .next_state
      font-size: 18px
      font-weight: 500

    .next_state
      font-size: 10px

#contest_description
  img
    float: left
    margin: 10px 10px 10px 0

    @media screen and (max-width: 460px)
      width: 100%

form ul
  margin-bottom: 0

.filename
  background-color: #eee
  color: #666
  font-size: 12px
  padding: 5px 10px
  margin: 10px 0 0 0
  font-family: monospace
  @include border-top-left-radius(2px)
  @include border-top-right-radius(2px)

.files
  height: 120px
  overflow: hidden
  margin-bottom: 10px
  position: relative

  div
    height: auto

  a.extend
    bottom: 0px
    padding: 20px 0 10px 10px
    height: 20px
    position: absolute
    width: 100%
    @include data-uri-bg("gradient.png", no-repeat)

    span
      display: none

  &:hover a span
    display: block

.highlight, .markup, .image
  background: #fff
  overflow-x: auto
  overflow-y: hidden
  padding: 10px
  @include border-bottom-left-radius(2px)
  @include border-bottom-right-radius(2px)
  height: 100px

hr
  visibility: hidden
  clear: both

strong
  font-weight: 900

#footer
  color: #666
  width: 660px
  margin: auto

  a
    color: #eee

  .left
    width: 50%
    float: left

    span
      font-size: 10px
      padding-left: 5px

    a
      height: 28px
      width: 73px
      display: block
      @include hide-text
      @include data-uri-bg("6sync.png", no-repeat)

  .right
    width: 50%
    float: right
    text-align: right
    padding-top: 5px

span#submitter
  font-size: 12px
  color: #666

em
  font-style: italic

form#submissions ul, form#new_entry ul, div#rules ul
  list-style: disc inside none

  li
    margin: 10px

span#who
  color: #eee
  text-shadow: 0 1px 10px #000
  display: none
  font-size: 10px
  line-height: 10px
  font-style: italic
  font-family: Palatino, Georgia, "Times New Roman", serif
  text-align: right
  position: absolute
  top: 280px
  right: 30px

  em
    font-size: 11px
    display: block
    font-style: normal

div.overlay
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: fixed
  background-color: #000
  opacity: 0.75

table
  margin: 10px -10px 0 -10px

  td
    padding: 5px 10px

@import gust
@import code
