%h2 Contest suggestions

%table
  = render @suggestions

%h3 Submit your own contest idea

= form_for :suggestion do |f|
  =f.label :name
  =f.text_field :name
  =f.text_area :description
  =f.submit 'Suggest'
