%h2 Contest suggestions

- if @suggestions.any?
  %table
    %thead
      %tr
        %td Idea
        %td Suggested by
        %td Score
    %tbody
      = render @suggestions

%h3 Submit your own contest idea

= form_for :suggestion do |f|
  =f.label :name
  =f.text_field :name
  =f.label :description
  =f.text_area :description
  =f.submit 'Suggest'
